@media(max-width: 992px) {
  html{
    margin-left: 2%;
  }

  header {
    width: 100%;
    height: fit-content;
  }

  #menu {
    flex-direction: column-reverse;
    width: 100%;
    justify-items: space-between;
  }

  #list-itens{
    width: 95vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 1px;
    padding: 1px;
  }

  #list-itens li a{
    width: fit-content;
  }

  #logo {
    margin-left: 2%;
    width: 90%;
    height: auto;
  }

  #logo h1{
    font-size: 3em;
  }

  .btn{
    width: 60%;
    height: fit-content;
  }

  #apresentacao img {
    display: block;
    width: 0;
    height: 0;
  }

  #quem-somos p{
    flex-direction: column-reverse;
    width: 100%;  
  }

  #quem-somos img {
    display: block;
    width: 0;
    height: 0;
 }
  
  #servicos{
    width: 100vw;
    height: fit-content;
    margin-left: 2%;
  }

  #servicos h2 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 2rem;
  }

  #servicos img{
    width: 60%;
    height: 60%;
    margin-left: 22%
  }

  #menuServicos {
    margin-left: 2%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #planos{
    width: 100vw;
    height: fit-content;
    margin-left: 2%;
  }

  #planos h2{
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 2rem;
    margin-left: 35%;
  }


  .item-servico{
    display: flex;
    justify-itens: center;
    font-size: 1em;
    margin-top: 2rem;
  }

  .list-planos{
    flex-direction: column;
    align-items: flex-start;
  }

  .list-planos .item-plano{
    max-width: 90%;
    margin:auto;
    width: 100%;
  }
}